footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: $light-main-color;
    .container{
        padding: 20px 0;
    }
}
footer .container{
    display: flex;
    justify-content: space-between;
}
.footer-btn{
    display: flex;
    li{
        margin-left: 15px;
        width: 180px;
        text-align: center;
    }
}

.step{
    display: flex;
    li{
        margin-right: 107px;
        position: relative;
    }
}

.circle-white {
    height: 22px;
    width: 22px;
    background-color: $white-color;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    left: 22px;
    z-index: 3;
}
  .circle-primary {
    height: 16px;
    width: 16px;
    background-color: $primary-color;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 25px;
    z-index: 3;
}
.rectangle {
    height: 9px;
    width: 362px;
    background-color: $white-color;
    z-index: 2;
    position: absolute;
    top: 39px;
    left: 33px;
  }
