.header .container{
    display: flex;
    justify-content: space-between;
}

.header-menu{
    display: flex;
    li{
        margin-left: 30.7px;
        &:hover a{
            color: $primary-color;
        }
    }
}
.header-logo{
    display: flex;
    .logo{
        width: 100px;
        height: 25px;
        background-image:url("../images/logo/LOGO\ 1.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    li{
        padding-left: 17px;
        border-left: 1px solid $dark-color;
        &:first-child{
            padding-left: 0;
            margin-right: 19px;
            border-left: 0px solid #000;
        }
    }
}