@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #51A8BC;
  text-align: center;
  display: block;
}

button {
  text-decoration: none;
  display: block;
  border: 0px solid #000;
  width: 100%;
  font-size: 20px;
}

body {
  font-family: "Noto Sans CJK TC","Noto Sans TC","Microsoft JhengHei",serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1em;
  background: #EEEDE8;
}

@media (max-width: 320px) {
  body {
    font-size: 16px;
  }
}

h1, .fz-24 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

@media (max-width: 1440px) {
  .display-lg {
    display: none;
  }
}

.color-primary {
  color: #F9B471;
}

.color-secondary {
  color: #51A8BC;
}

.color-dark {
  color: #4D4C52;
}

.color-dark-grey {
  color: #A5A39C;
}

.color-E2E1DD {
  color: #E2E1DD;
}

.bg-light-main {
  background: #FFFAF4;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background: #FFFAF4;
  padding-top: 18px;
  padding-bottom: 18px;
}

.btn-1 {
  padding: 31px 123px;
  font-size: 24px;
  background: #FFFAF4;
  color: #4D4C52;
  text-align: center;
  letter-spacing: 1em;
  z-index: 10;
}

.btn-1:hover {
  color: #FFFAF4;
  background: #F9B471;
}

.btn-2 {
  padding: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px #EEEDE8;
          box-shadow: 0px 4px 4px #EEEDE8;
  border-radius: 35px;
  color: #51A8BC;
  cursor: pointer;
}

.btn-2:hover {
  color: #F9B471;
}

.btn-3 {
  padding: 15px;
  background: #51A8BC;
  -webkit-box-shadow: 0px 4px 4px #EEEDE8;
          box-shadow: 0px 4px 4px #EEEDE8;
  border-radius: 35px;
  color: #FFFFFF;
  cursor: pointer;
}

.btn-3:hover {
  background: #F9B471;
}

.btn-3:disabled {
  background: #EEEDE8;
  cursor: default;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu li {
  margin-left: 30.7px;
}

.header-menu li:hover a {
  color: #F9B471;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo .logo {
  width: 100px;
  height: 25px;
  background-image: url("../images/logo/LOGO 1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header-logo li {
  padding-left: 17px;
  border-left: 1px solid #4D4C52;
}

.header-logo li:first-child {
  padding-left: 0;
  margin-right: 19px;
  border-left: 0px solid #000;
}

footer {
  width: 100%;
  height: 100px;
  background: #FFFAF4;
}

footer .container {
  padding: 20px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-btn li {
  margin-left: 15px;
  width: 180px;
  text-align: center;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step li {
  margin-right: 107px;
  position: relative;
}

.step svg {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 32px;
  left: 12px;
  fill: #FFFFFF;
}

.ellipse-white {
  fill: #FFFFFF;
}

.ellipse-now {
  fill: #F9B471;
}

.index-header {
  height: 100vh;
  position: relative;
  background: #F9F8F6;
  z-index: 2;
}

.banner-main {
  width: 1135px;
  height: 100vh;
  position: absolute;
  background-image: url("../images/bg/banner_主要物件 1.png");
  background-repeat: no-repeat;
  background-position: left 77px;
  background-size: 100%;
  z-index: -2;
  top: 0;
}

@media (max-width: 1440px) {
  .banner-main {
    background-position: -220px 32px;
  }
}

.banner-red-left {
  width: 224px;
  height: 100vh;
  position: absolute;
  background-image: url("../images/bg/banner_左側結晶 2.png");
  background-repeat: no-repeat;
  background-position: right calc(409px + 77px);
  background-size: 100%;
  z-index: -1;
  top: 0;
  left: 57px;
}

.banner-red-right {
  width: 116px;
  height: 256px;
  position: absolute;
  background-image: url("../images/bg/banner_右側結晶 1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  z-index: -1;
  top: calc((100vh - 256px)/2);
  right: 57px;
}

.banner-blue {
  height: 100vh;
  position: relative;
  background-image: url("../images/bg/banner_藍色板塊 1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  z-index: -4;
}

.banner-shadow {
  width: 504px;
  height: 268px;
  position: absolute;
  background-image: url("../images/bg/banner_陰影 1.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  z-index: -3;
  bottom: 0;
  left: calc(100vw - 1551px + 159px);
}

@media (max-width: 1440px) {
  .banner-shadow {
    left: calc(159px);
  }
}

.logo {
  background-image: url("../images/logo/LOGO 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 1;
}

.index-header .logo {
  width: 468px;
  height: 117px;
  position: absolute;
  top: calc(219px + 60px);
  left: 1090px;
}

@media (max-width: 1440px) {
  .index-header .logo {
    left: 856px;
  }
}

.index-header h1 {
  position: absolute;
  width: 469px;
  height: 30px;
  left: 1098px;
  top: 419px;
  text-align: justify;
  letter-spacing: 0.95em;
  z-index: -1;
}

@media (max-width: 1440px) {
  .index-header h1 {
    left: 856px;
  }
}

.index-header .btn-1 {
  position: absolute;
  left: 1090px;
  top: 542px;
  z-index: 5;
}

@media (max-width: 1440px) {
  .index-header .btn-1 {
    left: 856px;
  }
}

.upload-file-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 30px;
  background: #FFFAF4;
  border-radius: 35px 35px 0px 0px;
}

.upload-file-menu li {
  width: 50%;
  padding: 15px 0;
}

.upload-file-menu li:first-child {
  -webkit-box-shadow: 8px -1px 4px rgba(238, 237, 232, 0.5);
          box-shadow: 8px -1px 4px rgba(238, 237, 232, 0.5);
  border-radius: 35px 35px 0px 0px;
  background: #FFFFFF;
}

.upload-file-menu li:first-child a {
  color: #F9B471;
}

.upload {
  height: 800px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border-radius: 0px 0px 35px 35px;
  padding: 50px;
}

.upload-file {
  width: 100%;
  height: 100%;
  border: 1px dashed #A5A39C;
  border-radius: 35px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-file:hover {
  background: #FFFAF4;
}

.upload-file li {
  margin-bottom: 39px;
  line-height: 36px;
  letter-spacing: 0.2em;
}

.upload-file li:last-child {
  margin-bottom: 0;
}

.ic-upload {
  width: 126px;
  height: 126px;
  background-image: url("../images/upload/Vector-1.png"), url("../images/upload/Vector.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left, bottom 18px left 18px;
  background-size: 90px 126px, 108px 45px;
}
/*# sourceMappingURL=all.css.map */